.App{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.board{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  border: 1px solid #fff;
  width: 500px;
}
.cell{
  background: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;

  border: 1px solid #fff;
}
.token1{
  border-radius: 50%;
  background: #f00;
}
.token2{
  border-radius: 50%;
  background: #00f;
}
